.head {
  margin-top: 16px;
  margin-left: 10px;
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.select {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin: 6px;
}

.tabs {
  margin: 10px;
}

.form {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.picture {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.btn {
  margin-left: 40px;
}

.create {
  display: flex;
  flex-direction: column;
}

.createTabs {
  width: 100%;
  display: flex;
}
.text{
  width: 50%;
}
.image{
  width: 50%;
  background-color: aliceblue;
}