.home{
    color: rgba(229, 224, 216, 0.85);
    position: relative;
    right: 200px;
}
.home .head {
    display: flex;
    align-content: center;
}
.home .head .icon{
   color: #fff;
   position: absolute;
   top: 24px;
   font-size: 24px;
}
.home .head .title{
    font-size: 17px;
    margin-top: 20px;
    margin-left: 40px;
}
.time{
 margin-top: 20px;
 margin-left: 10px;
}
 .listChat{
    display: flex;
    height: 40px;
    margin-top: 20px;
}
.listChat .icon{
  margin-top: 12px;
  margin-left: 200px;
  cursor: pointer;
}