header {
  margin-top: 3vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  text-align: center;
  width: 100%;
}

.auth-container {
  position: absolute;
  right: 3vw;
}

#navbar {
  background: none;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-3mqfnx).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  /* padding-inline-end: 18px; */
  color: #e0e0e0
}